body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  font-family: Verdana Tahoma sans-serif;
}

